<!--
 Mbed Cloud Quickstart
 Copyright ARM Limited 2017

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE html>
<html>
<head>
    <title>Mbed Cloud Quickstart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
</head>
<body class="arm-white">

    <div class="container">

        <div class="row title">
            <div class="ten columns">
                <h3>Mbed Cloud Tutorial - Asset Tracking</h3>
            </div>
        </div>

        <div id="map" class="u-full-width">

        </div>

        <hr>

        <div id="device-table">

            <h4>Connected devices</h4>

            <table>
                <thead>
                <tr>
                    <th>Device ID</th><!-- 
                    <th>Device Name</th> -->
                    <th>Last updated</th>
                    <th>Location</th>
                </tr>
                {{#each devices}}
                <tr>
                    <td>{{id}}</td><!-- 
                    <td>{{name}}</td> -->
                    <td>{{updatedAt}}</td>
                    <td id="{{id}}-location">N/A</td>
                </tr>
                {{/each}}
            </table>

        </div>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script>
    var map;
    var device_archive = {};

    // Initialize the map
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: {lat: 30.243412, lng: -97.846045}
        });
    }

    var socket = io();

    socket.on('coordinate', function(data) {
        if (data.latitude != "N/A" && data.longitude != "N/A") {

            // Get the GPS location of the device
            var loc = {lat: parseFloat(data.latitude), lng: parseFloat(data.longitude)};
            map.panTo(loc);

            // Current device already has a marker. Move the marker to the updated location
            if (data.device in device_archive) {
                device_archive[data.device]['marker'].setPosition(loc);

                // Add a point to the polyline
                var polyline = device_archive[data.device]['line'];
                var polypath = polyline.getPath();
                polypath.push(new google.maps.LatLng(loc.lat, loc.lng));
                polyline.setPath(polypath);
                device_archive[data.device]['line'] = polyline;

            // Current device does not have a marker on the map. Create one and store it
            } else {
                var marker = new google.maps.Marker({
                    position: loc,
                    map: map,
                    title: data.device
                });
                var polyline = new google.maps.Polyline({
                    path: [loc],
                    goedesic: true,
                    strokeColor: '#FF0000',
                    stokeOpacity: 1.0,
                    strokeWeight: 2,
                    map: map
                });
                device_archive[data.device] = {};
                device_archive[data.device]['marker'] = marker;
                device_archive[data.device]['line'] = polyline;
            }

            // Update the table entry to reflect the new location
            document.getElementById(data.device + "-location").innerHTML = data.latitude + ", " + data.longitude;
        }
    });

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxXzjxSFkr9QkKyZ9vPfVqhrwvHvu99IQ&callback=initMap">
</script>
</body>
</html>
