<!DOCTYPE html>
<html>

<head>
  <title>mbed Cloud Quickstart</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="/css/material.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header mdl-color--primary">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title" style="margin-left:-50px">mbed Cloud Quickstart</span>
      </div>
      <!-- Tabs -->
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="/#connect" class="mdl-layout__tab is-active" id="connect_nav">Connect</a>
        <a href="/#update" class="mdl-layout__tab" id="update_nav">Update</a>
        <a href="/#provision" class="mdl-layout__tab" id="provision_nav">Provision</a>
      </div>
    </header>

    <main class="mdl-layout__content" id="main">

      <section class="mdl-layout__tab-panel is-active" id="connect" style="width:75%;margin:auto;">
        <div id="devices" style="margin-top:30px;">
          {{#each devices}}

            <div class="mdl-card mdl-shadow--6dp" style="width:95%;margin:auto;" id="{{id}}">
              <header class="mdl-card__title mdl-card--border mdl-color--accent">
                <h2 class="mdl-card__title-text mdl-color-text--white">{{id}}</h2>
              </header>

              <div class="mdl-card__supporting-text mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                  <h5 style="margin-top:-1px">Presses: <span class="presses-value">Unknown</span></h5>
                  <div class="mdl-grid custom-content">
                    <div class="mdl-cell mdl-cell--6-col">
                      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                          <input type="checkbox" class="subscribe-presses mdl-switch__input">
                          <span class="mdl-switch__label">Subscribe</span>
                        </label>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col">
                      <button class="get-presses mdl-button mdl-js-button mdl-js-ripple-effect
                                     mdl-button--raised mdl-button--colored">GET</button>
                    </div>
                  </div>

                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <h5 style="margin-top:-1px">LED Blink Pattern</h5>
                  <div class="mdl-textfield mdl-js-textfield" style="width:100%">
                    <input type="text" value="{{blinkPattern}}" class="blink-pattern mdl-textfield__input">
                  </div>
                  </br>
                  <div class="custom-content-2">
                    <button class="update-blink-pattern mdl-button mdl-js-button mdl-js-ripple-effect
                                 mdl-button--raised mdl-button--colored">Update (PUT)</button>
                    <button class="blink mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                                 mdl-button--accent arm-green">Blink (POST)</button>
                  </div>
                </div>
              </div>
            </div>
            </br>

            {{else}}

              <div class="mdl-card mdl-shadow--6dp" style="width:95%;margin:auto;min-height:0px!important">
                <header class="mdl-card__title mdl-card--border mdl-color--accent">
                  <h2 class="mdl-card__title-text mdl-color-text--white">No devices connected</h2>
                </header>
              </div>

          {{/each}}
        </div>
      </section>

      <section class="mdl-layout__tab-panel" id="update" style="width:75%;margin:auto;">
        <div class="mdl-grid" style="width:96%;margin-top:15px;">
          <div class="mdl-cell mdl-cell--4-col">
            <div class="mdl-card mdl-shadow--6dp custom-card">
              <header class="mdl-card__title mdl-card--border mdl-color--accent">
                <h2 class="mdl-card__title-text mdl-color-text--white">1. Manifest</h2>
              </header>
              <div class="mdl-card__supporting-text custom-card-content">
                <button class="mdl-button mdl-js-button mdl-button--raised
                               mdl-button--colored" id="generate-manifest">Generate</button>
                <p></p>
                <input accept=".json" type="file" id="manifest_file_selector">
                <p></p>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                               mdl-button--colored" id="upload-manifest">Upload</button>
              </div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <div class="mdl-card mdl-shadow--6dp custom-card">
              <header class="mdl-card__title mdl-card--border mdl-color--accent">
                <h2 class="mdl-card__title-text mdl-color-text--white">2. Image</h2>
              </header>
              <div class="mdl-card__supporting-text custom-card-content">
                <input accept=".bin" type="file" id="image_file_selector">
                <p></p>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                               mdl-button--colored" id="upload-image">Upload</button>
              </div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <div class="mdl-card mdl-shadow--6dp custom-card">
              <header class="mdl-card__title mdl-card--border mdl-color--accent">
                <h2 class="mdl-card__title-text mdl-color-text--white">3. Campaign</h2>
              </header>
              <div class="mdl-card__supporting-text custom-card-content">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                               mdl-button--colored" id="start-campaign">Start</button>
              </div>
            </div>
          </div>
        </div>
      </br>
        <div class="mdl-card mdl-shadow--6dp" style="width:95%;margin:auto;">
          <header class="mdl-card__title mdl-card--border arm-grey">
            <h2 class="mdl-card__title-text mdl-color-text--white">Console Log</h2>
          </header>
          <div id="console-log" class="mdl-card__supporting-text scroll">
          </div>
        </div>
      </section>
    </main>
  </div>


  <a href="https://github.com/ARMmbed/mbed-cloud-sdk-javascript-quickstart" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">View Source</a>
  <script type="text/javascript" src="js/material.min.js"></script>
  <script type="text/javascript" src="js/socket.io.js"></script>
  <script type="text/javascript" src="js/delivery.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>

</body>

</html>
