body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 100px;background: #222;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 100px
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {margin-left: 0}
}

div.scroll {
    height: 225px;
    overflow: scroll;
}

.arm-yellow, .arm-yellow-no-hover, .arm-yellow-hover:hover {
  color:#fff!important;
  background-color:#F9BD31!important
}

.arm-yellow:hover {
  color:#fff!important;
  background-color:#939090!important
}

.arm-blue, .arm-blue-no-hover, .arm-blue-hover:hover  {
  /**background: #128cab; **/
  color:#fff!important;
  background-color:#128cab!important
}

.arm-blue:hover {
  color:#fff!important;
  background-color:#939090!important
}

.arm-green {
  color:#fff!important;
  background-color:#00a960!important
}

.arm-green:hover {
  color:#fff!important;
  background-color:#939090!important
}

.arm-red, .arm-red-hover:hover {
  /**background: #128cab; **/
  color:#fff!important;
  background-color:#cf364a!important
}

.arm-red:hover {
  /**background: #128cab; **/
  color:#fff!important;
  background-color:#939090!important
}

.arm-gray{
  background: #909393;
}

.arm-gray-hover:hover {
  color:#000!important;
  background: #909393;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

.custom-card {
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  vertical-align: middle;
  min-height:220px; /* 120px */
}
